[Unit]
Description=Update ePaper on btn press
After=network.target

[Service] 
ExecStart=/usr/bin/python3 -u updateScreen.py
WorkingDirectory=/home/pi/IndependentPi/scripts
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target